@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    background-color:rgba(150, 150, 240, 0.904);
    font-family: 'Lobster', cursive;
    font-size: 50px;
    background-color: -webkit-linear-gradient(
        rgba(150, 150, 240, 0.904)
        
    );
    background-color: -o-linear-gradient(
        rgba(150, 150, 240, 0.904)
        
    );
    background-color: -moz-linear-gradient(
        rgba(150, 150, 240, 0.904)
        
    );
    
}

.container {
    margin: 250px auto;
    text-align: center;
}

button {
    padding: 20px;
    background: transparent;
    text-shadow: 5px 5px 5px 5px rgb(255, 255, 255);
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: rgba(255, 255, 255);
    
    
}